body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  min-height: 100vh;
  font-family: Arial;
  position: relative;
  color: #f8f9fa;
}
#nav{
  position: sticky;
  top: 0;
}
nav{
  display: flex;
  justify-content: center;
  background-color: #343636;
}
.navbar {
  overflow: hidden;
  width: 75%;
}

.navbar a {
  float: left;
  font-size: 16px;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #5a5c5e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #f8f9fa;
  background-color: #343636;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #5a5c5e;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.active{
  color: #656565;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#content{
  min-height: 85vh;
  width: 75%;
}
footer {
  text-align: center;
  width: 100%;
  border-top: 1px solid #f8f9fa;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}
.image-container{
  padding: 1rem;
  text-align: center;
}
.image-container img{
  width: 80%;
}
svg{
  background-color: #595959;
  padding: 0.5rem 0;
}
p{
  margin: 0;
  padding: 0;
}
.btn{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-l-1-2{
  background-color: #008cff;
  color: white;
}
.btn-l-1-2:hover{
  background-color: #2b9dff;
  color: white;
}
.nav-link{
  cursor: pointer;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.text-center{
  text-align: center;
}